<h1>Add a new director</h1>

<form action="/create_director">
    <div>
        <label for="name_input">
          Name
        </label>

        <input id="name_input" type="text" name="the_name">
    </div>
            
    <div>
        <label for="source_input">
          Image url
        </label>
    
        <input id="source_input" type="text" name="the_source">
    </div>
    
    
      
    <div>
        <label for="dob_input">
          Dob
        </label>
    
        <input id="dob_input" type="text" name="the_dob">
    </div>
      
    <div>
        <label for="bio_input">
          Biography
        </label>
    
        <textarea id="bio_input" class="form-control" rows="8" name="the_bio"></textarea>
    </div>
    <br>
      <button>
        Create irector
      </button>
</form>